@tailwind base;
@tailwind components;
@tailwind utilities;


header nav {
    @apply transition-spacing ease-in-out delay-300 duration-700
    absolute  top-0 left-0
    md:static
    h-screen md:h-auto
    bg-black md:bg-transparent
        /*-ml-96*/
    w-96
    p-12 md:p-0
    md:w-full
    flex flex-col md:flex-row
    items-center
}

p {
    @apply mb-4;
}

/*

Custom Input

*/

label {
    @apply my-6 pb-2 flex flex-col relative h-8
    after:content-[''] after:absolute after:block after:w-0 after:left-0 after:bottom-0 after:transition-width
    md:after:duration-150 after:border-b-slate-500 ;
}

.custom-input {
    @apply absolute w-full border-none bg-transparent focus:outline-none ;
}

.custom-textarea {
    @apply w-full h-40 my-6 p-4 border-none bg-transparent outline outline-slate-100 transition-outline md:duration-500 rounded-lg ;
}

.custom-textarea:focus {
    @apply bg-orange-50 outline-2 outline-slate-600  ;
}

label.active:after {
    @apply w-full border-2;
}

/*

*/

.img-thunbnail {
    @apply flex mb-4 w-11/12 h-48  md:h-60 rounded-lg bg-center bg-cover
}


.img-thunbnail-label {
    @apply flex items-center justify-center
    w-10/12 h-12 -mt-12
    bg-slate-50 hover:bg-gradient-to-r from-slate-50 to-slate-300
    transition delay-1000 transition-colors duration-1000
    text-slate-900 hover:font-bold
    border border-solid border-slate-500 shadow shadow-lg
}