<div class="my-6">
    <a
            {{ attributes.defaults({
                class: 'bg-blue-500 text-white my-6 px-4 py-2 rounded-md hover:bg-blue-600 text-center shadow-md focus:shadow shadow-blue-900/80 focus:shadow-blue-900',
                type: 'button' })
            }} >
        {{ label|trans }}
    </a>
</div>